/*--------------------------------------------------------------
  01. Variables
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --black-color: #000;
  --heading-color: #343935;
  --accent-color: #c5a56f;
  --cream-color: #edeae5;
  --body-color: rgba(52, 57, 53, 0.75);
  --border-color: rgba(52, 57, 53, 0.5);
  --gray-color: rgba(255, 255, 255, 0.75);
  --heading-font: "Playfair Display", sans-serif;
  --body-font: "Poppins", sans-serif;
  --ternary-font: "Meddon", cursive;
}
